*.pdf
*.png
*.dat
*.ipynb
*.csv

.vscode
.idea
.history
.DS_Store
.ipynb_checkpoints
modules/__pycache__/
chiral_construction/__pycache__/

__pycache__
Figures
figure_data
venv
test-*

basis_comparison.py
unit_test_generation.py
